{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}conversate/css/styles.css" type="text/css" />
{{ block.super }}
{% endblock %}

{% block js %}
{{ block.super }}
{% if conversate_settings.add_jquery %}
<script src="{{ STATIC_URL }}conversate/js/jquery-1.10.2.min.js"></script>
{% endif %}
<script>CONVERSATE={{ conversate_settings.config|safe }};</script>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% block conversate_content %}
    {% endblock %}
{% endblock %}
