@charset "UTF-8";
/*
** CSS for Conversate
** All elements are prefixed with cnv_
*/
/* Library mixins */
/* Layout */
.cnv_container {
  /* children are in flex column */
  display: flex;
  flex-flow: row nowrap; }
  .cnv_container .cnv_sidebar {
    flex: 0 0 300px;
    order: 2;
    height: 100%;
    overflow-y: auto; }
  .cnv_container .cnv_content {
    /* grow and shrink regardless of content */
    flex: 1 1 auto;
    order: 1;
    /* fixed height */
    height: 100%;
    /* children are in flex row */
    display: flex;
    flex-flow: column nowrap; }
    .cnv_container .cnv_content .cnv_messages {
      flex: 1 1 auto;
      height: 0;
      overflow-y: auto; }
      .cnv_container .cnv_content .cnv_messages .cnv_messages_inner {
        /* stick table to bottom */
        display: table;
        height: 100%;
        width: 100%; }
        .cnv_container .cnv_content .cnv_messages .cnv_messages_inner .cnv_table_con {
          display: table-cell;
          vertical-align: bottom; }
    .cnv_container .cnv_content .cnv_messages table, .cnv_container .cnv_content .cnv_input table {
      width: 100%; }
    .cnv_container .cnv_content .cnv_input {
      flex: 0 0 auto; }
      .cnv_container .cnv_content .cnv_input table td {
        position: relative; }
      .cnv_container .cnv_content .cnv_input table form {
        display: flex; }
        .cnv_container .cnv_content .cnv_input table form textarea[name=content] {
          width: 100%; }
        .cnv_container .cnv_content .cnv_input table form .cnv_input__file {
          flex: 0 0 auto;
          width: 2rem; }
          .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] + label {
            display: block;
            overflow: hidden;
            position: absolute;
            visibility: hidden;
            z-index: 3; }
            .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] + label::after {
              content: "📎";
              visibility: visible;
              display: block;
              position: absolute;
              text-align: center; }
          .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"]:checked + label::after {
            content: "▾"; }
          .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] {
            display: none; }
            .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] + label {
              width: 2rem;
              height: 2rem;
              font-size: 1.5rem;
              line-height: 2rem; }
              .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] + label::after {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%; }
            .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] ~ div {
              display: none;
              position: absolute;
              right: 0;
              top: -2.4rem;
              height: 2.4rem;
              line-height: 2rem;
              padding: 0.2rem;
              border: 1px solid #ccc;
              border-bottom: 0;
              border-radius: 5px 5px 0 0; }
              .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"] ~ div input {
                display: block; }
            .cnv_container .cnv_content .cnv_input table form .cnv_input__file > input[type="checkbox"]:checked ~ div {
              display: block; }

/*
** Styles
*/
.cnv_content table {
  border-collapse: collapse; }
  .cnv_content table td {
    vertical-align: top;
    border-bottom: 1px solid #eee;
    line-height: 1.2rem;
    padding: 0.1rem 0.4rem;
    box-sizing: border-box; }
    .cnv_content table td:nth-child(1) {
      font-size: 0.625rem;
      width: 4rem;
      color: #888;
      border-right: 1px solid #ccc; }
    .cnv_content table td:nth-child(2) {
      width: 7rem;
      border-right: 1px solid #eee; }
    .cnv_content table td:nth-child(-n+2) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .cnv_content table td:nth-child(3) {
      word-wrap: break-word; }
    .cnv_content table td .cnv_file {
      display: block;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #eee;
      padding: 5px;
      margin: 1rem 3rem;
      width: max-content;
      max-width: 500px; }
      .cnv_content table td .cnv_file img {
        max-width: 100%;
        max-height: 30vh;
        display: block;
        margin: 0;
        padding: 0;
        border: 0; }
  .cnv_content table tr.cnv_ERROR td {
    color: #fff;
    background: #c00; }

.cnv_content .cnv_input td {
  background-color: #eee;
  border-bottom: 0; }

.cnv_content .cnv_input textarea {
  border: 0;
  padding: 0.4rem; }

.cnv_content .cnv_input td:first-child {
  padding: 0;
  position: relative;
  border-right: 1px solid #888; }
  .cnv_content .cnv_input td:first-child .cnv_hourglass_con {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .cnv_content .cnv_input td:first-child .cnv_hourglass {
    background: #ccc;
    height: 100%; }
  .cnv_content .cnv_input td:first-child .cnv_hourglass_note {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.cnv_content .cnv_input .cnv_input__file div {
  background: #eee; }

.cnv_container {
  position: relative; }
  .cnv_container > input[type="checkbox"] + label {
    display: block;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    z-index: 3; }
    .cnv_container > input[type="checkbox"] + label::after {
      content: "×";
      visibility: visible;
      display: block;
      position: absolute;
      text-align: center; }
  .cnv_container > input[type="checkbox"]:checked + label::after {
    content: "◂"; }
  .cnv_container > input[type="checkbox"] {
    display: none; }
    .cnv_container > input[type="checkbox"] + label {
      position: absolute;
      top: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      line-height: 2rem; }
      .cnv_container > input[type="checkbox"] + label::after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .cnv_container > input[type="checkbox"] ~ .cnv_sidebar {
      display: block; }
    .cnv_container > input[type="checkbox"]:checked ~ .cnv_sidebar {
      display: none; }

.cnv_sidebar {
  background-color: #ddd;
  padding: 1rem; }
  .cnv_sidebar h1 {
    font-size: 1.2rem;
    margin: 1.2rem 0 0.8rem; }
    .cnv_sidebar h1:first-child {
      margin-top: 0; }
  .cnv_sidebar .cnv_users {
    width: 100%; }
    .cnv_sidebar .cnv_users th {
      text-align: left; }
    .cnv_sidebar .cnv_users td {
      font-size: 0.8em;
      width: 5rem;
      padding-left: 0.4rem; }
    .cnv_sidebar .cnv_users th, .cnv_sidebar .cnv_users td {
      border-bottom: 1px solid #ccc; }
    .cnv_sidebar .cnv_users tr:last-child th, .cnv_sidebar .cnv_users tr:last-child td {
      border-bottom: 0; }
    .cnv_sidebar .cnv_users tr.cnv_active td {
      border-left: 8px solid #6a4; }
    .cnv_sidebar .cnv_users tr.cnv_afk td {
      border-left: 8px solid #fa0; }
    .cnv_sidebar .cnv_users tr.cnv_inactive td {
      border-left: 8px solid #a54; }
  .cnv_sidebar .cnv_submit {
    width: 100%;
    overflow: hidden; }
    .cnv_sidebar .cnv_submit input[type="submit"] {
      float: right; }
  .cnv_sidebar .cnv_settings {
    list-style: none;
    padding: 0;
    margin: 0; }
    .cnv_sidebar .cnv_settings p {
      margin-bottom: 0.5em; }
    .cnv_sidebar .cnv_settings label {
      display: inline-block;
      width: 6em; }
    .cnv_sidebar .cnv_settings .helptext {
      display: block;
      font-size: 0.8em;
      margin-left: 2.5em; }

@media all and (max-width: 640px) {
  .cnv_container > input[type="checkbox"] + label::after {
    content: "◂"; }
  .cnv_container > input[type="checkbox"] ~ .cnv_sidebar {
    display: none; }
  .cnv_container > input[type="checkbox"] ~ .cnv_content {
    display: flex; }
  .cnv_container > input[type="checkbox"]:checked + label::after {
    content: "×"; }
  .cnv_container > input[type="checkbox"]:checked ~ .cnv_sidebar {
    display: block; }
  .cnv_container > input[type="checkbox"]:checked ~ .cnv_content {
    display: none; }
  .cnv_sidebar {
    display: none; }
  .cnv_content table {
    display: block; }
    .cnv_content table tr {
      display: flex;
      flex-flow: row wrap; }
      .cnv_content table tr td:nth-child(-n+2) {
        width: auto; }
      .cnv_content table tr td:nth-child(-n+2) {
        display: block;
        border: 0; }
      .cnv_content table tr td:nth-child(1) {
        flex: 1 1 auto; }
      .cnv_content table tr td:nth-child(2) {
        flex: 1 1 auto; }
      .cnv_content table tr td:nth-child(3) {
        display: block;
        width: 100%; }
  .cnv_content .cnv_messages table tr td:nth-child(1) {
    order: 2;
    flex: 1 1 auto; }
  .cnv_content .cnv_messages table tr td:nth-child(2) {
    order: 1;
    flex: 0 0 auto;
    font-weight: bold; }
  .cnv_content .cnv_messages table tr td:nth-child(3) {
    order: 3;
    display: block;
    width: 100%;
    padding-left: 2rem; } }
