<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock %}
    
    <style>
        body {
            padding:    0;
            margin:     0;
        }
        header {
            height:     1.5em;
            border-bottom: 1px solid #888;
        }
        header h1 {
            font-size:  1em;
            line-height: 1.5em;
            margin:     0;
            padding:    0 0.5em;
        }
        main#content {
            position:   absolute;
        }
    </style>
        
</head>

<body>

<header>
    <h1>{% block title %}{{ title }}{% endblock %}</h1>
</header>

<main id="content">
    {% block content %}
        {% block conversate_content %}
        {% endblock %}
    {% endblock %}
</main>

</body>

</html>

