/*
** CSS for Conversate
** All elements are prefixed with cnv_
*/

/* Library mixins */

@mixin toggler-base(
    $content-open: $char-arrow-down,
    $content-close: $char-arrow-up,
    $checkbox-selector: '',
) {
    & > input[type="checkbox"]#{$checkbox-selector} {
        & + label {
            display: block;
            overflow: hidden;
            position: absolute;
            visibility: hidden;
            z-index: 3;

            &::after {
                content: $content-open;
                visibility: visible;
                display: block;
                position: absolute;
                text-align: center;
            }
        }

        &:checked {
            & + label {
                &::after {
                    content: $content-close;
                }
            }
        }
    }
}


// Character codes
$char-burger: '\2261';
$char-cross: '\00D7';
$char-arrow-up: '\25B4';
$char-arrow-right: '\25B8';
$char-arrow-down: '\25BE';
$char-arrow-left: '\25C2';



/* Layout */
.cnv_container {
    /* children are in flex column */
    display: flex;
    flex-flow: row nowrap;

    .cnv_sidebar {
        flex: 0 0 300px;
        order: 2;

        height: 100%;
        overflow-y: auto;
    }

    .cnv_content {
        /* grow and shrink regardless of content */
        flex: 1 1 auto;
        order: 1;

        /* fixed height */
        height: 100%;

        /* children are in flex row */
        display: flex;
        flex-flow: column nowrap;

        .cnv_messages {
            flex: 1 1 auto;
            height: 0;
            overflow-y: auto;

            .cnv_messages_inner {
                /* stick table to bottom */
                display: table;
                height: 100%;
                width: 100%;

                .cnv_table_con {
                    display: table-cell;
                    vertical-align: bottom;
                }
            }
        }

        .cnv_messages, .cnv_input {
            table {
                width: 100%;
            }
        }

        .cnv_input {
            flex: 0 0 auto;

            table {
                form {
                    display: flex;

                    textarea[name=content] {
                        width:  100%;
                    }
                }
            }
        }
    }
}


/*
** Styles
*/

.cnv_content {
    table {
        border-collapse: collapse;

        td {
            vertical-align: top;
            border-bottom: 1px solid #eee;
            line-height: 1.2rem;
            padding: 0.1rem 0.4rem;
            overflow: hidden;
            box-sizing: border-box;

            &:nth-child(1) {
                font-size: 0.625rem;
                width: 4rem;
                color: #888;
                border-right: 1px solid #ccc;
            }

            &:nth-child(2) {
                width: 7rem;
                border-right: 1px solid #eee;
            }

            &:nth-child(-n+2) {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:nth-child(3) {
                word-wrap: break-word;
            }

            .cnv_img {
                display: block;
            }

            .cnv_img img {
                max-width: 100%;
                max-height: 70vh;
            }
        }

        tr.cnv_ERROR td {
            color: #fff;
            background: #c00;
        }
    }

    .cnv_input {
        td {
            background-color: #eee;
            border-bottom: 0;
        }

        textarea {
            border: 0;
            padding: 0.4rem;
        }

        td:first-child {
            padding: 0;
            position: relative;
            border-right: 1px solid #888;

            .cnv_hourglass_con {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .cnv_hourglass {
                background: #ccc;
                height: 100%;
            }

            .cnv_hourglass_note {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 2px;
                text-align: center;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
}

.cnv_container {
    @include toggler-base(
        $content-open: $char-cross,
        $content-close: $char-arrow-left,
    );
    position: relative;

    & > input[type="checkbox"] {
        display: none;

        & + label {
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 2rem;
            font-size: 1.5rem;
            line-height: 2rem;

            &::after {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

            }
        }

        // Desktop is shown by default
        & ~ .cnv_sidebar {
            display: block;
        }

        &:checked {
            & ~ .cnv_sidebar {
                display: none;
            }
        }
    }
}

.cnv_sidebar {
    padding: 1rem;

    h1 {
        font-size: 1.2rem;
        margin: 1.2rem 0 0.8rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .cnv_users {
        width:  100%;

        th {
            text-align: left;
        }

        td {
            font-size: 0.8em;
            width: 5rem;
            padding-left: 0.4rem;
        }

        th, td {
            border-bottom: 1px solid #ccc;
        }

        tr:last-child {
            th, td {
                border-bottom: 0;
            }
        }

        tr.cnv_active td {
            border-left:   8px solid #6a4;
        }

        tr.cnv_afk td {
            border-left:   8px solid #fa0;
        }

        tr.cnv_inactive td {
            border-left:   8px solid #a54;
        }
    }


    .cnv_submit {
        width:  100%;
        overflow: hidden;

        input[type="submit"] {
            float:  right;
        }
    }

    .cnv_settings {
        list-style: none;
        padding:    0;
        margin:     0;

        p {
            margin-bottom:  0.5em;
        }

        label {
            display:    inline-block;
            width:      6em;
        }

        .helptext {
            display:    block;
            font-size:  0.8em;
            margin-left:    2.5em;
        }
    }
}


@media all and (max-width:640px) {
    // Mobile sidebar is closed by default
    .cnv_container {
        & > input[type="checkbox"] {
            & + label::after {
                content: $char-arrow-left;
            }

            & ~ .cnv_sidebar {
                display: none;
            }

            & ~ .cnv_content {
                display: flex;
            }

            &:checked {
                & + label::after {
                    content: $char-cross;
                }

                & ~ .cnv_sidebar {
                    display: block;
                }

                & ~ .cnv_content {
                    display: none;
                }
            }
        }
    }

    .cnv_sidebar {
        display: none;
    }

    .cnv_content {
        table {
            display: block;
            tr {
                display: flex;
                flex-flow: row wrap;

                td:nth-child(-n+2) {
                    width: auto;
                }
                td:nth-child(-n+2) {
                    display: block;
                    border: 0;
                }
                td:nth-child(1) {
                    flex: 1 1 auto;
                }
                td:nth-child(2) {
                    flex: 1 1 auto;
                }
                td:nth-child(3) {
                    display: block;
                    width: 100%;
                }
            }
        }

        .cnv_messages {
            table {
                tr {
                    td:nth-child(1) {
                        order: 2;
                        flex: 1 1 auto;
                    }
                    td:nth-child(2) {
                        order: 1;
                        flex: 0 0 auto;
                        font-weight: bold;
                    }
                    td:nth-child(3) {
                        order: 3;
                        display: block;
                        width: 100%;
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
}
